<a href="https://colab.research.google.com/github/anisaQode/hello-world/blob/master/Pollen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
import gspread
from gspread_dataframe import get_as_dataframe, set_with_dataframe

In [5]:
from google.colab import auth
auth.authenticate_user()
from oauth2client.client import GoogleCredentials
gc = gspread.authorize(GoogleCredentials.get_application_default())

In [6]:
sheet1 = gc.open_by_url('https://docs.google.com/spreadsheets/d/1CxGecd0p2MaE9nr8aBDElibYuDo-aBo6QSoy_OBtUqo/edit?ts=6024605e#gid=1028397889')

In [7]:
ws = sheet1.worksheet('Campaigns')

In [8]:
Campaigns_df = get_as_dataframe(ws)

In [11]:
Campaigns_df.head(100)

   Event Identifier         Region  ... Unnamed: 12 Unnamed: 13
0          =3984258  North America  ...         NaN         NaN
1           =A2+175         Europe  ...         NaN         NaN
2           =A3+175  North America  ...         NaN         NaN
3           =A4+175         Europe  ...         NaN         NaN
4           =A5+175         Europe  ...         NaN         NaN
..              ...            ...  ...         ...         ...
58         =A59+175         Europe  ...         NaN         NaN
59         =A60+175         Europe  ...         NaN         NaN
60         =A61+175         Europe  ...         NaN         NaN
61         =A62+175         Europe  ...         NaN         NaN
62         =A63+175         Europe  ...         NaN         NaN

[63 rows x 14 columns]

In [12]:
Campaigns_df.drop(['Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'], axis=1, inplace=True)

In [28]:
Campaigns_df.groupby(['Location: Name', 'Event Type'])['# Traveler Estimate'].sum()

Location: Name                  Event Type
Amsterdam, Netherlands          ["Curated Travel"]    26334
                                ["Spring Break"]       8138
Barcelona, Spain                ["Curated Travel"]     2912
                                ["Spring Break"]       2118
Berlin, Germany                 ["Curated Travel"]     6625
Budapest, Hungary               ["Curated Travel"]     2488
Cabo San Lucas, Mexico          ["Curated Travel"]     2164
Cancun, Mexico                  ["Curated Travel"]    16738
Dubai, United Arab Emirates     ["Curated Travel"]     2969
Ibiza, Spain                    ["Curated Travel"]    21684
Lake Havasu, Arizona            ["Curated Travel"]     1590
Las Vegas, Nevada               ["Curated Travel"]    19328
                                ["Spring Break"]      10064
Les Deux Alpes, France          ["Curated Travel"]     1659
Malta                           ["Curated Travel"]     3574
Miami, Florida                  ["Curated Travel"]     4551
Mykonos, Greece                 ["Curated Travel"]     1766
Palm Desert, California         ["Curated Travel"]     2489
Punta Cana, Dominican Republic  ["Curated Travel"]     2160
San Juan, Puerto Rico           ["Curated Travel"]     5779
Tenerife, Spain                 ["Curated Travel"]     1940
Val Thorens, France             ["Curated Travel"]     4302
Name: # Traveler Estimate, dtype: int64

In [40]:
Campaigns_travellers_by_event_type = Campaigns_df.groupby(['Event Type'])['# Traveler Estimate'].sum()

In [42]:
Campaigns_travellers_by_event_type

Event Type
["Curated Travel"]    131052
["Spring Break"]       20320
Name: # Traveler Estimate, dtype: int64

In [43]:
Campaigns_location = Campaigns_df.groupby(['Location: Name'])['# Traveler Estimate'].sum().sort_values(ascending = False)

In [44]:
Campaigns_location

Location: Name
Amsterdam, Netherlands            34472
Las Vegas, Nevada                 29392
Ibiza, Spain                      21684
Cancun, Mexico                    16738
Berlin, Germany                    6625
San Juan, Puerto Rico              5779
Barcelona, Spain                   5030
Miami, Florida                     4551
Val Thorens, France                4302
Malta                              3574
Dubai, United Arab Emirates        2969
Palm Desert, California            2489
Budapest, Hungary                  2488
Cabo San Lucas, Mexico             2164
Punta Cana, Dominican Republic     2160
Tenerife, Spain                    1940
Mykonos, Greece                    1766
Les Deux Alpes, France             1659
Lake Havasu, Arizona               1590
Name: # Traveler Estimate, dtype: int64

In [46]:
Campaigns_region = Campaigns_df.groupby(['Region'])['# Traveler Estimate'].sum().sort_values(ascending = False)

In [47]:
Campaigns_region

Region
Europe           85950
North America    65422
Name: # Traveler Estimate, dtype: int64

In [48]:
#What month will we get the most travellers? How many travellers will this be?